body {
    font-family: Monaco;
    text-align: center;
}

.hide {
    display: none;
}

.section {
    width: 48%;
    border-top: 1px solid #e5e5e5;
    margin-top: 32px;
    float: left;
}

.string {
    border-right: 1px solid #e5e5e5;
}

input[type="text"] {
    width: 400px;
}

.error {
    color: #f00;
}